<!DOCTYPE html>
<html>
<head>
    {% block meta %}
        <meta charset="UTF-8">
    {% endblock meta %}
    <title>{% block title %}{{ documentation.spec.info.title }}{% endblock title %}</title>

    {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="swagger-ui.css" />
        <link rel="stylesheet" type="text/css" href="index.css" />
    {% endblock stylesheets %}
    <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16" />

    {% block swagger_data %}
        {# json_encode(65) is for JSON_UNESCAPED_SLASHES|JSON_HEX_TAG to avoid JS XSS #}
        <script id="swagger-data" type="application/json">{{ documentation | json_encode(65) | raw }}</script>
    {% endblock swagger_data %}
</head>
<body>

{% block swagger_ui %}
    <div id="swagger-ui"></div>
{% endblock %}

{% block javascripts %}
    <script src="swagger-ui-bundle.js" charset="UTF-8"> </script>
    <script src="swagger-ui-standalone-preset.js" charset="UTF-8"> </script>
    <script src="init-swagger-ui.js" charset="UTF-8"> </script>
{% endblock javascripts %}

{% block swagger_initialization %}
    <script type="text/javascript">
        (function () {
            var swaggerUI = {{ swagger_ui_config | json_encode(65) | raw }};
            window.onload = loadSwaggerUI(swaggerUI);
        })();
    </script>
{% endblock swagger_initialization %}
</body>
</html>
